body {
    font-family: 'Roboto', sans-serif;
}

#table-body tr:nth-child(even) {
    background-color: #bcc0c4; /* Grigio chiaro per le righe pari */
}
#table-body tr:nth-child(odd) {
    background-color: #ffffff; /* Bianco per le righe dispari */
}

.btn-icon {
    width: 30px; /* Larghezza massima per i bottoni */
    height: 30px;
}